{{#if hasPlausible}}# Plausible analytics — domain registered with plausible.io
NEXT_PUBLIC_PLAUSIBLE_DOMAIN={{analyticsDomain}}
{{/if}}{{#if hasUmami}}# Umami analytics
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
NEXT_PUBLIC_UMAMI_SCRIPT_URL={{analyticsScriptUrl}}
{{/if}}
